{% extends "app/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div id="{{ obj_name }}">

    <div class="row">

    </div>

</div>

<script>

new Vue({
    
    delimiters: ["[[", "]]"],
    el: "#" + '{{ obj_name }}',
    
    data: {

        loading_state: {},
        lists: {},
        url_models: {},
        endpoints: {},

        info: {
            'MESSAGE': '',
            'TITLE': 'Sample Title'
        },

        props: {},
        state: {}
        
    },

    mounted() {
        if (document.querySelector("#" + '{{ obj_name }}')) {
            console.log("Mounted " + '{{ obj_name }}' + " page.")
        }
        initializeModels(this, ['USER'])
    },

    methods: {},
});

</script>

{% endblock %}